name: Publish Docker image

on:
  schedule:
    - cron:  '30 5 * * *'
  workflow_dispatch:

jobs:
  push_to_registry:
    name: Build & push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Build & push to Docker Hub
        uses: docker/build-push-action@v6
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: texthtml/balena-cli
          tags: latest
